# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.vs/
.idea/
target/
*.iml

*.iml
actuator_authorized_1.X/actuator_authorized_1.X.iml
actuator_authorized_2.X/actuator_authorized.iml
actuator_unauthorized_1.X/actuator_unauthorized_1.X.iml
actuator_unauthorized_2.X/actuator_unauthorized.iml
base_vul/base_vul.iml
collections/collections.iml
CVE-2019-10173/CVE-2019-10173.iml
CVE-2019-12384/CVE-2019-12384.iml
node_modules/
/.m2
